{
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0,
    "jsx-a11y/img-has-alt": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-implied-eval": 2,
    "react/no-danger": 2,
    "no-undef": 0,
    "no-class-assign": 0,
    "no-else-return": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "prefer-template": 0,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": [2, {"ignore": ["class", "for"]}],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0,
    "no-console": 1,
    "no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }],
    "space-before-function-paren": 2,
    "no-sequences": 0
  },
  "extends": "airbnb",
  "plugins": [
      "import",
      "react"
  ],
  "settings": {
    "extensions": [ ".js", ".jsx" ]
  }
}
