# go dependencies
vendor

# node
client/node_modules
npm-debug.log

# frontend build/output directories
client/static
client/build

# editor/IDE configs
*.sublime-project
*.sublime-workspace
*.iml
.vscode
.#*
*~
*.swo
*.swp

# misc
.DS_STORE
